.cityLogo{
    width: 47px;
    height: 59px;
    margin: 5px;
}
.para{
    font-size: 11px;
    color: gray;
    text-align: left;
    margin-left: 2px;
}
.cityTour{
    display: flex;
    width: 37%;
    border: 1px solid #edeaea;
    height: 69px;
    border-radius: 5px;
    background-color: #fdfdfd;
}
.tourHeading{
   text-align: left;
   margin-top: 5px;
   font-weight: bold;
   margin-left: 2px;
}
@media only screen and (max-width: 1024px) {
    .cityTour{
          width: 95%;
          height: 107px;
       }
    .cityLogo{
        width: 24%;
        height: 94px;
    }
    .para{
        width: 100%;
    font-size: 12px;
    font-weight: bold;
    }
    .touristHeading{
        width: 93%;
        margin: auto;
        font-weight: bold;
    }
}