.cityLogo{
    width: 45px;
    height: 57px;
    margin: 5px;
}
.para{
    font-size: 8px;
    color: gray;
    text-align: left;
}
.cityTour{
    display: flex;
    width: 37%;
    border: 1px solid #edeaea;
    height: 69px;
    border-radius: 5px;
    background-color: #fdfdfd;
}
.tourHeading{
   text-align: left;
   margin-top: 5px;
   font-weight: bold
}
@media only screen and (max-width: 425px) {
    .cityTour{
         width: 96%;
         height: 104px;
       }
    .cityLogo{
        width: 24%;
        height: 94px;
    }
    .para{
        width: 92%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 1px;
    }
    .touristHeading{

    }
}