/* width="131px"
        style="max-width: 131px;" */
        .imgLogo{
            width: 60px;
            max-width: 131px;
            height: 17px;
        }
        .header{
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }
        .signupbtn{
            background: #089ad5;
            border: 1px;
            border-radius: 3px;
            color: white;
            width: 61px;
            height: 26px;
        }
        .hrline{
            color: white;
        }
        .mainCityComponent{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: f;
            justify-content: center;
            align-items: center;
            background-color: #fdfdfd;
        }
        .touristHeading{
            width: 37%;
            margin: auto;
            font-weight: bold;
        }
        .abcd{
            background-color: #fdfdfd;
        }
        @media only screen and (max-width: 1024px) {
            .header{
                display: flex;
                width: 100%;
                margin: auto;
                margin-top: 12px;
                justify-content: space-around;
            }
                                   
            .abcd{
                width: 68%;
                margin: auto;
            }
        }
        